<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Shopping Cart for a Bookstore</display-name>
  <welcome-file-list>
 
    <welcome-file>Login.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>com.servlet.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPasswordServlet</display-name>
    <servlet-name>SetPasswordServlet</servlet-name>
    <servlet-class>com.servlet.SetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPasswordServlet</servlet-name>
    <url-pattern>/SetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>